.loader-container {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pulse-core {
  width: 8px; 
  height: 8px;
  background-color: #6366f1;
  border-radius: 50%;
  box-shadow: 0 0 10px #6366f1, 0 0 20px #6366f1;
  animation: pulse 1.5s ease-in-out infinite;
}


.orbit-ring {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  border-top: 2px solid #6366f1;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}


.orbit-ring1 {
  position: absolute;
  width: 65px; 
  height: 65px;
  border: 2px solid transparent;
  border-bottom: 2px solid #a855f7;
  border-radius: 50%;
  animation: reverse-spin 1.5s linear infinite;
}

@keyframes pulse {
  0%, 100% { transform: scale(1); opacity: 1; }
  50% { transform: scale(2); opacity: 0.5; }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes reverse-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}