body {
    margin: 0;
    padding: 0;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(66, 139, 168);

}

article {
    width: 250px;
    height: 250px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    border: 4px solid white;
}

body>main:nth-child(1)>section:nth-child(1)>article:nth-child(1)>div:nth-child(1) {
    width: 4px;
    height: 70px;
    background-color: white;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    transform-origin: 50% 100%;
    transform: rotate(45deg)
}

body>main:nth-child(1)>section:nth-child(1)>article:nth-child(1)>div:nth-child(2) {
    width: 3px;
    height: 90px;
    background-color: white;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    transform-origin: 50% 100%;
    transform: rotate(45deg)
}


body>main:nth-child(1)>section:nth-child(1)>article:nth-child(1)>div:nth-child(3) {
    width: 1px;
    height: 100px;
    background-color: white;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    transform-origin: 50% 100%;
    transform: rotate(45deg)
}

article::after{
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgb(165, 8, 8);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}


@keyframes mover {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

article div:first-child {
    animation-name: mover;
    animation-duration: 43200s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

article div:nth-child(2) {
    animation-name: mover;
    animation-duration: 3600s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

article div:last-child {
    animation-name: mover;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
