body>section:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

body>section:nth-child(1)>section:nth-child(1) {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
}

body>section:nth-child(1)>section:nth-child(2) {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 255, 0.5);
    border-radius: 50%;
    transition: transform 1s ease;
}

body > section:nth-child(1) > section:nth-child(2):hover {
  transform: translateX(-70px); /
}