
body {
    margin: 50px;
    background-color: aqua;    
}



section {
    display: flex;
    justify-content: flex-start;   
    gap: 50px;
}

img {
    max-width: 200px;
    height: auto;
    display: block;
}

body>section:nth-child(1)>div:nth-child(1) {
    border: 10px solid rgb(223, 118, 13);
    padding: 10px;
}

body>section:nth-child(1)>div:nth-child(2) {
    border: 6px dashed purple;
    border-radius: 4rem;
    padding: 15px;
}

body>section:nth-child(1)>div:nth-child(3)>img:nth-child(1) {
    padding: 20px;
    border: 8px solid;
    border-image: linear-gradient(90deg,
            red, orange, yellow, green, blue, indigo, violet) 1;
    border-radius: 8rem;
}

body > section:nth-child(1) > div:nth-child(4){
    padding: 15px;
   background-color: bisque;
}

body > section:nth-child(1) > div:nth-child(4):hover {
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}