input {
    border: 2px solid black;
    padding: 8px;
    border-radius: 5px;

    transition:
        border-color 0.6s ease,
        transform 0.6s ease;
}


input:focus {
    border-color: rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 
    background-color 0.6s ease,
    transform 0.3s ease;
}


button:hover {
  background-color: transparent;
  color: black;
  transform: scale(1.05); 
}
