ul {
    list-style: none;
    padding: 0;
}

li {
    width: 150px;
    margin: 2px;
    margin-left: 20px;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    background-color: aqua;
}


ul>li a {
    display: block;
    color: inherit;
    text-decoration: none;
}

ul>li:hover {
    background-color: blue;
    color: white;
}