
* {
  margin: 0;
  padding: 0;
}

h2 {
    width: fit-content;
    padding: 5px;
    border: 3px solid rgb(5, 5, 5);
    background-color: rgb(46, 225, 109);
    border-radius: 10px;
     margin-bottom: 10px;
     margin-left: 20px;
}



ul {
    width: fit-content;
    padding: 10px 30px;
    border: 3px solid brown;
    background-color: bisque;
    border-radius: 10px;
    list-style-type: square;
    margin-bottom: 10px;
    margin-left: 50px;
}