@font-face {
    font-family: 'Josefin Sans';
    src: url('JosefinSans-ThinItalic.woff2') format('woff2'),
        url('JosefinSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

